@charset "UTF-8";
.find_title, .find_content{
	text-align: center;
	margin-left: 75px;
	color: orange;
}
h4{color: red; margin-top: 10px;}

.findpw_wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: cetner;
	
}
.findpw_form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: cetner;
	margin-top: 30px;
}
.findpw_id ,.findpw_phone {
	margin : 0 auto;
}

#fid, #fphone {
	width: 180px;
	height: 50px;
	border-radius : 15px;
	
	padding-left: 50px;
    padding-right: 30px;
    margin-bottom: 20px;
    border:  solid 1px #eeeeee;
    box-shadow: 5px 3px 3px #eeeeee;
}

.findpw_id span{
	margin-right: 15px;padding-right: 50px;
	font-weight: bold;
}
.findpw_phone span{
	margin-right : 3px;
	padding-right: 47px;
	font-weight: bold;
}

.findpw_btn_area{
	margin: 0 auto;
	
}

#btnfindpassword{
	width: 180px;
	height: 60px;
	color: white;
	background-color: red;
	border-radius: 50px;
	    margin-left: 85px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
}

#btnfindpassword:hover{
	background-color: orange;
	
}