@charset "UTF-8";
.find_title, .find_content{
	text-align: center;
	margin-left: 75px;
	color: orange;
}
h4{color: red; margin-top: 10px;}

.login_wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: cetner;
	
}
.login_form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: cetner;
	margin-top: 30px;
}
.login_id ,.login_pw {
	margin : 0 auto;
}

#lid, #lpassword {
	width: 180px;
	height: 50px;
	border-radius : 15px;
	
	padding-left: 50px;
    padding-right: 30px;
    margin-bottom: 20px;
    border:  solid 1px #eeeeee;
    box-shadow: 5px 3px 3px #eeeeee;
}
.login_id span{
	margin-right: 15px;padding-right: 50px;
	font-weight: bold;
}
.login_pw span{
	margin-right : 3px;
	padding-right: 47px;
	font-weight: bold;
}

.findtab{
	margin: 0 auto;
	padding-left: 100px;
}
.login_btn_area{
	margin: 0 auto;
	
}

#loginbtn{
	width: 180px;
	height: 60px;
	color: white;
	background-color: red;
	border-radius: 50px;
	    margin-left: 105px;
    margin-top: 20px;
    font-weight: bold;
    border: none;
}
#loginbtn:hover{
	background-color: orange;
	
}

