@import "header.css";
@import "main.css";
@import "footer.css";
@import "sidebar.css";

.home_wrap{
	display: flex;
	justify-content:center;
	flex-direction: column;
}

.sb{
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}




